<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css', _external=True) }}">
    <title>Dialéctica - Página Principal</title>
</head>
<body>
    <img src="{{ url_for('static', filename='img/dialectica.png', _external=True) }}" alt="Dialéctica Logo">
    <h1>Bienvenido a Dialéctica</h1>
    <p>Conéctate y aprende juntos.</p>
    <p>INGRESA</p>
</body>
</html>
